{{- if eq .env "gip" }}
sources:
  - type: gitlab
    host: gitlab.intern.gipmbh.de
    groups:
      - gip
  - type: bitbucket
    host: git.intern.gipmbh.de
    projects:
      - '*'
base_dir: ~/workspace/gpm/repos
jira:
  url: https://jira.gipmbh.de
  project: P0909
tasks_dir: ~/workspace/gpm/repos/tasks
{{- end }}
