#!/bin/sh
swaymsg 'workspace 1, move workspace to output "BNQ BenQ BL2790QT L7P01760019"'
swaymsg 'workspace 5, move workspace to output "BNQ BenQ BL2790QT L7P01760019"'
swaymsg 'workspace 3, move workspace to output "BNQ BenQ BL2790QT L7P01778019"'
swaymsg 'workspace 4, move workspace to output "BNQ BenQ GW2480 ETN9P01643SL0"'
swaymsg 'workspace 2, move workspace to output "BNQ BenQ BL3290QT F7P00718019"'

