{{- if eq .env "gip" }}
sources:
  - type: gitlab
    host: gitlab.intern.gipmbh.de
    groups:
      - gip
  - type: bitbucket
    host: git.intern.gipmbh.de
    projects:
      - '*'
base_dir: ~/workspace
jira:
  url: https://jira.gipmbh.de
  project: P0909
  transitions:
    start: In Bearbeitung
    close: Abgeschlossen
tasks_dir: ~/workspace/tasks
credentials_file: ~/.config/gipm/credentials.json
protected:
  - gipm
{{- end }}
